.App {
  text-align: center;
}



nav {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid black;
  justify-content: space-around;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  
}

li.nav-links { 
  padding: 10%;
  margin: 15%;
  text-align: center;
  
}

form {
  
  text-align: center;
}

.title {
  text-align: center;
}

input {
  margin: 1% 2%;
}

.order-record {
  text-align: center;

}

div.order-record li {
  list-style: none;
  text-align: center;
}